.places__content {
    max-width: 984px;
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 1279px) {
  .places__content {
    max-width: 928px;
    display: flex;
    flex-wrap: wrap;
}

}

@media screen and (max-width: 1023px) {
  .places__content {
    max-width: 720px;
    display: flex;
    flex-wrap: wrap;
}

}

@media screen and (max-width: 767px) {
  .places__content {
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
}

}
