@import url(./__item/photo-grid__item.css);

.photo-grid {
  margin: 0 auto;
  max-width: 1184px;
  display: grid;
  grid-template-columns: 284px 284px 284px 284px;
  grid-template-rows: 213px 213px 213px;
  grid-gap: 16px;
  padding-bottom: 92px;
}
