.section-title {
  margin: 0;
  width: 460px;
  max-height: 152px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 1024px) {
  .section-title {
    width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .section-title {
    margin-left: 24px;
    margin-top: 88px;
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
    }
}

@media screen and (max-width: 320px) {
  .section-title {
    margin: 0 auto;
    margin-top: 64px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    }
}
