.section-title {
  margin: 0;
  width: 460px;
  max-height: 152px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 1024px) {
  .section-title {
    width: 440px;
  }
}
