@import url(./__content/places__content.css);
@import url(./__description/places__description.css);
@import url(./__heading/places__heading.css);
@import url(./__image/places__image.css);
@import url(./__link/places__link.css);
@import url(./__paragraph/places__paragraph.css);
@import url(./__text/places__text.css);
@import url(./__url/places__url.css);

.places {
  margin: 0 auto;
  max-width: 984px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1279px) {

  .places {
    margin: 0 auto;
    max-width: 928px;
    display: flex;
}

}


@media screen and (max-width: 1023px) {

  .places {
    margin: 0 auto;
    max-width: 720px;
    display: flex;
  }
}


@media screen and (max-width: 767px) {

  .places {
    margin: 0 auto;
    max-width: 320px;
    display: flex;
  }
}
