.places__heading {
  margin: 0;
  min-width: 460px;
  max-width: 152px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-bottom: 48px;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
}


@media screen and (max-width: 1279px) {
  .places__heading {
    min-width: 440px;
    max-width: 152px;
}

}

@media screen and (max-width: 1023px) {
  .places__heading {
    min-width: 340px;
    font-size: 42px;
    line-height: 46px;
    align-items: flex-start;
    margin-top: 48px;
}

}

@media screen and (max-width: 767px) {
  .places__heading {
    min-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 32px;
    align-items: flex-end;
    margin-top: 24px;
}

}
