.places__heading {
  margin: 0;
  max-width: 460px;
  min-width: 460px;
  /*min-height: 152px;*/
  max-width: 152px;
  font-family: 'Inter-Black';
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-bottom: 48px;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
}


@media screen and (max-width: 1279px) {
  .places__heading {
    margin: 0;
    max-width: 440px;
    min-width: 440px;
    /*min-height: 152px;*/
    max-width: 152px;
    font-family: 'Inter-Black';
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 48px;
    color: #ffffff;
    display: flex;
    align-items: flex-end;
}

}

@media screen and (max-width: 1023px) {
  .places__heading {
    margin: 0;
    min-width: 340px;
    max-width: 340px;
    /*min-height: 92px;*/
    max-height: 46px;
    font-family: 'Inter-Black';
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    color: #ffffff;
    display: flex;
    align-items: flex-end;
    margin-top: 48px;
}

}

@media screen and (max-width: 767px) {
  .places__heading {
    margin: 0 auto;
    max-width: 288px;
    min-width: 288px;
    min-height: 35px;
    max-width: 35px;
    font-family: 'Inter-Black';
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 32px;
    color: #ffffff;
    display: flex;
    align-items: flex-end;
    margin-top: 24px;
}

}