@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead {
  margin: 0 auto;
  max-width: 1184px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 92px;
}

@media screen and (max-width: 1279px) {
  .lead {
    max-width: 928px;

  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 768px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    max-width: 320px;
    margin-bottom: 64px;
  }
}
