.header__link {
  max-width: 30px;
  color: #ffffff;
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__link {
    max-width: 22px;
    font-size: 18px;
    line-height: 24px;
  }
}
