.logo {
    min-width: 176px;
    min-height: 52px;
    background-image: url(../../images/header-logo.svg);
}

@media screen and (max-width: 767px) {
  .logo {
      max-width: 142px;
      max-height: 42px;
  }
}
