@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__link/cover__link.css);


.cover {
    margin: 0 auto;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    margin-bottom: 92px;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1279px) {
  .cover {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    margin-bottom: 92px;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
  }

}


@media screen and (max-width: 1023px) {
    .cover {
      margin: 0 auto;
      max-width: 768px;
      display: flex;
      flex-direction: column;
      margin-bottom: 88px;
      margin-top: 64px;
      justify-content: center;
      align-items: center;
    }

  }


@media screen and (max-width: 767px) {
    .cover {
      margin: 0 auto;
      max-width: 320px;
      display: flex;
      flex-direction: column;
      margin-bottom: 64px;
      margin-top: 40px;
      justify-content: center;
      align-items: center;
    }

}
