.cover__title {
  margin: 0;
  max-width: 560px;
  max-height: 152px;
  text-align: center;
  font-family: 'Inter-Black';
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  margin-bottom: 32px;
  z-index: 1;
}


@media screen and (max-width: 1279px) {
  .cover__title {
    margin: 0;
    max-width: 560px;
    max-height: 152px;
    text-align: center;
    font-family: 'Inter-Black';
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #ffffff;
    margin-bottom: 32px;
  }

}


@media screen and (max-width: 1023px) {
  .cover__title {
    margin: 0;
    max-width: 560px;
    max-height: 152px;
    text-align: center;
    font-family: 'Inter-Black';
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #ffffff;
    margin-bottom: 32px;
  }

}

@media screen and (max-width: 767px) {
  .cover__title {
    margin: 0;
    max-width: 288px;
    max-height: 70px;
    text-align: center;
    font-family: 'Inter-Black';
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    color: #ffffff;
    margin-bottom: 16px;
  }

}
