.cover__title {
  margin: 0;
  max-width: 560px;
  color: #ffffff;
  font-style: normal;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin: 0;
    max-width: 288px;
    max-height: 70px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }

@media screen and (max-width: 320px) {
    .cover__title {
      margin: 0;
      max-width: 288px;
      max-height: 70px;
      margin: 0 auto;
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 35px;
    }
