.footer__list {
  padding: 0;
  display: flex;
  list-style-type: none;
  color: #ffffff;
}

@media screen and (max-width: 320px) {
  .footer__list {
    flex-direction: column;
    height: 24px;
    margin: 0;
  }
}
