@import url(./__list/footer__list.css);
@import url(./__author/footer__author.css);
@import url(./__link/footer__link.css);
@import url(./__link/_item/footer__link_item.css);

.footer {
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 24px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 64px;
    max-width: 186px;
    min-height: 310px;
    flex-direction: column;
    margin-left: 16px;
    align-items: flex-start;

  }
}
