.places__description {
    max-width: 456px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 48px;
}

@media screen and (max-width: 1279px) {
  .places__description {
    max-width: 456px;
    margin-left: 32px;

}

}


@media screen and (max-width: 1023px) {
  .places__description {
    max-width: 352px;
    margin-left: 28px;

}

}

@media screen and (max-width: 767px) {
  .places__description {
    display: none;
}
}
