.intro__title {
  margin: 0;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 320px) {
  .intro__title {
    margin: 0 auto;
    max-width: 288px;
    max-height: 70px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
}
