.place__paragraph {
  margin: 0;
  width: 484px;
  color: #ffffff;
  padding: 0 0 24px 40px;
  font-size: 18px;
  line-height: 30px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    width: 456px;
    padding: 0 0 24px 32px;
  }
}
